.main {
  margin-top: 5em;
}

.ui li {
  margin-top: 15px;
}

button {
  background-color: #1A1A1D;
}

li {
  color: #4E4E50;
  border: 1px solid #C3073F;
  border-radius: 10px;
}

li:hover {
  background-color: #9c9cb6;
}

li p {
  margin: 10px;
}

.center {
  justify-content: center;
  padding: 10px;
}

.ui.search .input {
  width: 100%;
}
.ui.search .prompt {
  border-radius: 0px;
}
.ui.input > input {
  border: 1.5px solid rgba(34, 36, 38, 0.15);
}

.item {
  padding: 15px 0px !important;
}

i.icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.right {
  float: right !important;
}
.center-div {
  text-align: center;
}

.link:hover {
  color: #000;
}

img {
  max-width: 10%;
  display: block;
}

i {
  margin-left: 20px;
}
